.sideContent {
  color: #fff;
}
.divider {
  max-height: 35px;
  color: orangered;
  width: 5px;
  font-size: 5px;
  border: 1px solid orangered;
  border-radius: 2px;
  background-color: orangered;
  font-weight: 600px;
}
.title {
  font-size: 25px;
  /* margin-top: 8px; */
}
.sideTitle {
  font-size: 50px;
  color: #fff;
  font-weight: 600px;

  letter-spacing: 0.2rem;
  font-family: "Roboto Slab", serif;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 12px;
  color: #fdfefe;
  font-weight: 600;
  /* margin: auto; */
  margin-top: 1rem;
  margin-left: 1rem;
  transition: all 1s;
}

.ripple {
  box-sizing: border-box;
  position: relative;
}

.ripple:before {
  animation: ripple 2s ease-in infinite;
  border: solid 2px #bb007d;
  border-radius: 10%;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ripple:after {
  animation: ripple 2s 1s ease-in infinite;
  border: solid 2px #bb007d;
  border-radius: 10%;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.facilitiesMain:hover .facilitiesButton {
  color: #196838;
}

@media (max-width: 650px) {
  .navbarResponsive {
    display: flex;
    flex-direction: column;
  }
}
